.cart .frame-big{
    margin-right: 2rem;
}
.cart .frame-small{
    text-align: center;
}
.cart .column-border{
    padding: 1rem;
}

.cart table{
    width: 100%;
}
.cart th, td{
    padding: 1rem;
    align-items: center;
}
.cart tbody tr{
    border-top: 1px solid var(--light);
}
.cart img{
    height: 120px;
    margin-right: 1rem;
}
.cart .frame-small h3{
    margin-bottom: 1rem;
}

.cart-number{
    background-color: var(--light2);
    padding: 0.5rem 1rem;
}
.cart-volumn{
    background-color: var(--light2);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .cart .frame-flex{
        /* display: block; */
    }
}