@import "../../vars.css";

.navbar{
    background-color: var(--light2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    padding-left: 1rem;
}
.navbar-logo img{
    width: 40px;
    margin-right: 0.5rem;
}
.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    padding-right: 3rem;
}
.navbar-links .link{
    margin-left: 2rem;
}
.link{
    color: inherit;
    text-decoration: inherit;
}
.link :hover{
    color: var(--grey);
}
.outlet{
    padding: 1rem 4rem;
    min-height: 80vh;
}

.frame-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.frame-flex{
    display: flex;
    justify-content: space-between;
}
.frame-text_center{
    text-align: center;
    margin: auto;
}
.frame-center{
    display: flex;
    justify-content: center;
}
.frame-start{
    display: flex;
    justify-content: flex-start;
}
.frame-start .select{
    margin-left: 1rem;
}
.layout .frame-start h1{
    margin-right: 0.5rem;
}
.column{
    flex: 50%;
}
.column-left{
    padding-right: 2rem;
}
.content{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    flex-wrap: wrap;
}
.sidebar {
    width: 180px;
}
.main{
    margin-left: 1rem;
    width: 100%;
}
.border{
    border: 1px solid var(--light);
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
}
.footer{
    background-color: var(--light2);
    padding: 1rem 3rem 1rem 1rem;
    display: flex;
}
.footer img{
    width: 64px;
    margin-right: 1rem;
}

.btn-grey{
    background-color: var(--grey);
    border-radius: 5px;
    border: none;
    color: var(--white);
    padding: 0 1rem;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.btn-light{
    background-color: var(--light);
    border-radius: 5px;
    border: none;
    color: var(--white);
    padding: 0 1rem;
    margin: 0 1rem;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.btn-white{
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    color: var(--black);
    padding: 0 1rem;
    margin: 0 1rem;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.layout h1{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
.layout h2{
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}
.layout h3{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.layout h4{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.layout p{
    margin: 0;
}
.layout .border p{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: var(--grey);
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

@media screen and (max-width:1370px) {
    .content{
        grid-template-columns: repeat(3, 1fr)
    };
}
@media screen and (max-width:860px) {
    .content{
        grid-template-columns: repeat(2, 1fr)
    };
}
@media screen and (max-width:580px) {
    .content{
        grid-template-columns: repeat(1, 1fr)
    };
}